<div class="fondo">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="_saludo">
                    <app-saludo-director></app-saludo-director>
                </div>
            </div>
            <div class="col-12 col-md-8">
                <div class="enlaces-principales">
                    <a href="#" class="enlace active">Ir a Capacitación</a>
                    <a href="https://www.iestpjorgebasadregrohman.edu.pe/assets/image/RESULTADOS/RESULTADO%20OFICIAL-EXAMEN%20ORDINARIO%202022-I.pdf" class="enlace"> RELACIÓN DE INGRESANTES - EXAMEN ORDINARIO 2022-I </a>
                    <a href="https://www.iestpjorgebasadregrohman.edu.pe/assets/image/RESULTADOS/RESULTADO%20OFICIAL-DIRIMENCIA%202022-I.pdf" class="enlace"> RELACIÓN DE INGRESANTES VIA DIRIMENCIA 2022-I </a>
                    <a href="https://www.iestpjorgebasadregrohman.edu.pe/assets/image/RESULTADOS/RESULTADO%20OFICIAL-CEPRE%202022-I.pdf" class="enlace"> RELACIÓN DE INGRESANTES VIA CEPRE 2022-I </a>
                    <a href="https://www.iestpjorgebasadregrohman.edu.pe/assets/image/RESULTADOS/INGRESANTES%20POR%20SEGUNDA%20OPCION.pdf" class="enlace">  RELACIÓN DE INGRESANTES - EXAMEN DE ADMISION ORDINARIO (2DA OPCIÓN) 2022-I </a>
                    <div class="enlaces-principales footer">
                        <a routerLink="/login" class="enlace" >Control Asistencial</a>
                        <a routerLink="/login" class="enlace active aula">Aula Virtual</a>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
