<header>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="header">
          <img src="../assets/logo-jbg.png" alt="logo">
          <div class="instituto">
            <h1 class="_title">INSTITUTO DE EDUCACION SUPERIOR TECNOLOGICO PÚBLICO</h1>
            <h1 class="_nombre">"JORGE BASADRE GROHMAN"</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<nav class="navbar navbar-expand-lg navbar-dark "> 
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" routerLink="/" aria-current="page">INICIO</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/admision">ADMISION</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/nosotros">NOSOTROS</a>
          <ul class="sub-menu">
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/nosotros/presentacion">Presentación</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/nosotros/mision/vision">Misión, Vision y Principios o Valores</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/nosotros/convenios">Convenios Diversos</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/nosotros/resena">Reseña Historica</a>
            </li>
          </ul>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/institucional">INSTITUCIONAL</a>
          <ul class="sub-menu">
            <li class="nav-item" routerLinkActive="active">
              <a routerLink="/institucional/contrato/docente" class="nav-link">CONTRATO DOCENTE 2021</a></li>
            <li class="nav-item" routerLinkActive="active">
              <a routerLink="/institucional/renovacion/docente" class="nav-link">RENOVACION DOCENTE 2021</a></li>
            <li class="nav-item" routerLinkActive="active">
              <a routerLink="/institucional/convocatorias" class="nav-link">CONVOCATORIAS 2021</a></li>
            <li class="nav-item" routerLinkActive="active">
              <a routerLink="/institucional/mesa/partes" class="nav-link">MESA DE PARTES 2020</a></li>
            <li class="nav-item" routerLinkActive="active">
              <a routerLink="/institucional/docuementos/gestion" class="nav-link">DOCUMENTOS DE GESTION</a></li>
            <li class="nav-item" routerLinkActive="active">
              <a routerLink="/institucional/balance/economico" class="nav-link">BALANCE ECONÓMICO</a></li>
            <li class="nav-item" routerLinkActive="active">
              <a routerLink="/institucional/libro/reclamaciones" class="nav-link">LIBRO DE RECLAMACIONES</a></li>
          </ul>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/programas">PROGRAMAS</a>
            <ul class="sub-menu">
              <li class="nav-item" routerLinkActive="active">
                <a routerLink="/programas/contabilidad" class="nav-link">Contabilidad</a></li>
              <li class="nav-item" routerLinkActive="active">
                <a routerLink="/programas/enfermeria" class="nav-link">Enfermeria Tecnica</a></li>
              <li class="nav-item" routerLinkActive="active">
                <a routerLink="/programas/turismo" class="nav-link">Guia Oficial de Turismo</a></li>
              <li class="nav-item" routerLinkActive="active">
                <a routerLink="/programas/agropecuario" class="nav-link">Produccion Agropecuaria</a></li>
            </ul>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/galeria">GALERÍA</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="#">ACADÉMICO</a>
          <ul class="sub-menu">
            <li class="nav-item" routerLinkActive="active">
              <a target="_blank" href="http://intranet.iestpjorgebasadregrohman.com/login" class="nav-link">Intranet</a></li>
            <li class="nav-item" routerLinkActive="active">
              <a target="_blank" href="https://site.q10.com/login?aplentId=dacd5dd7-3c38-4509-81c6-fa9b25b4d9de" class="nav-link">Aula Virtual</a></li>
            <li class="nav-item" routerLinkActive="active">
              <a target="_blank" href="https://www.youtube.com/watch?v=xl2fnPG3s2Q&ab_channel=Q10" class="nav-link">Manual de estudiantes</a></li>
            <li class="nav-item" routerLinkActive="active">
              <a target="_blank" href="https://www.youtube.com/watch?v=up6AxtgFYTU&t=222s&ab_channel=ASYSEducaci%C3%B3n" class="nav-link">Manual de docente</a></li>
            <li class="nav-item" routerLinkActive="active">
              <a target="_blank" href="https://www.iestpjorgebasadregrohman.com/_files/ugd/af0b66_4c1a47baaae14172b670adc5c145ee78.pdf" class="nav-link">Manual de docente PDF</a></li>
            <li class="nav-item" routerLinkActive="active">
              <a target="_blank" href="https://www.iestpjorgebasadregrohman.com/_files/ugd/af0b66_1ffba6680c494477aaa5685c3028810f.pdf" class="nav-link">Manual de alumnos PDF</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<main>
  <router-outlet></router-outlet>
</main>
<div class="enlaces">
  <app-enlaces-externos></app-enlaces-externos>
</div>
<footer>
 <div class="container">
  <div class="row">
    <div class="col-md-6 box rigth">
      <div>(082) 351895</div>
      <div>Av. Tambopata 1098 - Puerto Maldonado - Madre de Dios</div>
      <div>Siguenos:</div>
      <div class="redes">
        <a class="facebook" href="https://www.facebook.com/IESTPJBG" target="_blank">
          <i class="icon ion-logo-facebook"></i>
        </a>
        <a class="twitter" href="#" target="_blank">
          <i class="icon ion-logo-twitter"></i>
        </a>
        <a class="youtube" href="https://www.youtube.com/channel/UCXwtLZTLUX4O" target="_blank">
          <i class="icon ion-logo-youtube"></i>
        </a>
      </div>
    </div>
    <div class="col-md-6 box">
      <div> Celulares de contacto </div>
      <div class="celular"><a href="cel:941291074">941 291 074</a></div>
      <div class="celular"><a href="cel:920116108">920 116 108</a></div>
      <div class="celular"><a href="cel:944242578">944 242 578</a></div>
    </div>
  </div>
 </div>
</footer>