// .enlaces{
//     &.grid{
//         display: grid;
//         grid-template-columns: 1fr 1fr 1fr;
//         gap: 5px;
//     }
// }
.carousel{
    background: #e5e6eb;
    padding: 15px 0;
    .enlace{
        border-radius: 5px;
        margin: 0 10px;    
        border-radius: 10px;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 210px;
            height: 100px;
        }
    }
}